*{
    margin: 0;
    padding: 0;
}

body{
    height: 2000px;
    background-image: linear-gradient(rgb(32, 100, 53), rgb(65, 230, 117));
}
header{
    align-items: center;
}

header img{
    margin-left: 45%;
}
nav{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(120, 212, 149);
    align-items: center;
}

li{
    display: inline-block;
    text-align: center;
    position: relative;
    width: 33%;
    font-size: 15px;
}

.divmenu1{
    text-align: center;
    padding-top: 25px;
}

.divmenu2{
    text-align: center;
    padding: 30px 30% 30px 30%;
}





.divmenu3{
    display: flex;
    flex-direction: row;
    padding: 50px 20% 0 20%;
}

.divmenu4{
    padding: 30px 20% 30px 20%;
}

.divfooter{
    padding: 20%;
    display: flex;
    flex-direction: row;
    background-color: rgb(26, 161, 121);
}

.divfooter div{
    display: flex;
    flex-direction: row;
}


